.purchase_Card button {
    margin-left: auto;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    min-width: auto;
}

.purchase_Card h4 {
    margin: 0;
}


.modern_card .card_item {
    position: relative;
    border-radius: 20px;
    text-align: left;
    padding: 30px;
    overflow: hidden;
    color: rgb(38, 38, 38);
}

.modern_card .card_item.before::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../images/cardImage.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}


.tableAvatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.table_span{
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
}

.card_item1 .dib{
    margin: 5px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}

.cardImage img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}

.card_item .date{
    padding: 3px 10px;
    border-radius: 5px;
}

/* medicalPro */
.medicalPro{
    border-bottom: 1px solid rgba(192, 192, 192, 0.535);
    margin-top: 30px;
}



.medicalPro .primary{
    color: rgba(0, 0, 0, 0.637);
    margin-bottom: 0;
}
.medicalPro .secondary{
    color: rgba(0, 0, 0, 0.637);
    margin-top: 0;
}

.MuiDrawer-paper::-webkit-scrollbar{
    width: 5px;
}